html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    background: rgba(255, 251, 210, 0.88);
}
main, #action-panel {
    border: none;
    border-radius: 7px;
    margin: 7px;
    height: auto;

}

main
{
    width: 80%;
    display: flex;
    flex-direction: column;
}

#action-panel
{
    width: 20%;
    min-width: 335px;
    /*background: #b2b2ff;*/
    background: transparent;
    backdrop-filter: blur(50px) brightness(0.7) contrast(0.9);
}

#info
{
    width: 100%;
    height: 6%;
    min-height: 50px;
    background: transparent;
    backdrop-filter: blur(50px) brightness(0.6) contrast(0.9);
    border-radius: 7px 7px 0 0;
    display: flex;
    flex-direction: row;
}

#graph
{
    width: 100%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(50px) brightness(0.7) contrast(0.9);
    border-radius: 0 0 7px 7px;
}

#graph-container
{
    width: 100%;
    height: 93%;
}

.user-data
{
    align-content: center;
    margin: 0;
    font-size: 40px;
    padding-left: 15px;
}

#date
{
    width: 50%;
}
#username
{
    width: 25%;
}
#balance-account
{
    width: 25%;
    min-width: 210px;
}

.action
{
    margin: 5px;
    padding: 5px 5px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /*height: 60px;*/
    align-items: center;
    background: rgba(0, 0, 0, 0.13);
    flex-wrap: wrap;
}

.action-name, .action-code, .action-price, .action-price-evolution, .action-buy, .action-sell
{
    margin: 0;
    color: white;
}

.action-name
{
    width: 105px;
    font-weight: bold;
    font-size: 12px;
}

.action-code
{
    width: 60px;
    font-weight: bold;
    font-size: 11px;
}

.action-price, .action-price-evolution
{
    width: 40px;
    font-size: 12px;
}

.action-buy, .action-sell
{
    width: 35px;
    height: 30px;
    background: white;
}

.action-description
{
    padding-top: 1px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 11px;
    font-style: italic;
    color: #dadada;
}

.action-buy
{
    mask: url('images/shopping-kart.svg') no-repeat center;
}

.action-sell
{
    mask: url('images/sell.svg') no-repeat center;
}

.action-sell:hover
{
    background: #ff6161;
}

.action-buy:hover
{
    background: #9fff89;
}

.action-sell:disabled, .action-buy:disabled
{
    background: #424242;
}

#filter
{
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

#filterText
{
    text-align: center;
    padding: 3px;
}

.toggle-input {
    display: none;
}

.toggle-label
{
    background: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 3px;
    min-width: 30px;
    text-align: center;
    color: white;
}

.toggle-input:checked + .toggle-label {
    background-color: #4caf50;
}