html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    background: rgb(255, 217, 217);
}
main, #side-panel {
    border: none;
    border-radius: 7px;
    margin: 7px;
    height: auto;

}

main
{
    width: 78%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#side-panel
{
    width: 22%;
    min-width: 335px;
    /*background: #b2b2ff;*/
    background: transparent;
    backdrop-filter: blur(50px) brightness(0.7) contrast(0.9);
    display: flex;
    flex-direction: column;
}

#action-panel, #ranking-panel
{
    height: 97%;
}

#ranking-panel
{
    display: flex;
    flex-direction: column;
}

#switch{
    height: 3%;
    display: flex;
    margin: 0;
}

.switch-label
{
    width: 50%;
    background: rgba(0, 0, 0, 0.11);
    font-size: 17px;
    color: white;
    text-align: center;
}

#act-lbl
{
    border-bottom-left-radius: 10px;
}

#ranking-lbl
{
    border-bottom-right-radius: 10px;
}

.toggle-input:checked + .switch-label
{
    background-color: #4caf50;
}

#info
{
    width: 100%;
    height: 4%;
    min-height: 40px;
    background: transparent;
    backdrop-filter: blur(50px) brightness(0.6) contrast(0.9);
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#graph-widget
{
    width: 100%;
    height: 96%;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.chart
{
    width: 100%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(50px) brightness(0.7) contrast(0.9);
    border-radius: 7px;
}

.graph-container
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#group
{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sub-graph
{
    height: 92%;
    /*width: 100%;*/
}

.user-data
{
    align-content: center;
    margin: 0;
    font-size: 25px;
}



.action
{
    margin: 5px;
    padding: 5px 5px 0;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    /*height: 60px;*/
    align-items: center;
    background: rgba(0, 0, 0, 0.13);
    flex-wrap: wrap;
}

.action-name, .action-code, .action-price, .action-price-evolution, .action-buy, .action-sell
{
    margin: 0;
    color: white;
}

.action-name
{
    width: 105px;
    font-weight: bold;
    font-size: 12px;
}

.action-code
{
    width: 57px;
    font-weight: bold;
    font-size: 11px;
}

.action-price
{
    width: 70px;
    font-size: 12px;
}

.action-price-evolution
{
    width: 40px;
    font-size: 12px;
}

.action-buy, .action-sell
{
    width: 35px;
    height: 30px;
    background: white;
}

.action-description
{
    padding-top: 1px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 11px;
    font-style: italic;
    color: #dadada;
}

.action-buy
{
    mask: url('images/shopping-kart.svg') no-repeat center;
}

.action-sell
{
    mask: url('images/sell.svg') no-repeat center;
}

.action-sell:hover
{
    background: #ff6161;
}

.action-buy:hover
{
    background: #9fff89;
}

.action-sell:disabled, .action-buy:disabled
{
    background: #424242;
}

.filter
{
    margin-top: 5px;
    margin-left: 10px;
    display: flex;
    gap: 10px;
}

.filterText
{
    text-align: center;
    padding: 3px;
}

.toggle-input {
    display: none;
}

.toggle-label
{
    background: rgba(0, 0, 0, 0.11);
    border-radius: 5px;
    padding: 3px;
    min-width: 30px;
    text-align: center;
    color: white;
}

.toggle-input:checked + .toggle-label {
    background-color: #4caf50;
}

.chart-container
{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: column;
}
.action-graph
{
    width: 100%;
}

#menu-container
{
    height: 100%;
    width: 100px;
    background: rgba(255, 0, 0, 0.41);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#menu-btn
{
    text-decoration: none;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;

    font-size: 25px;
    font-weight: 900;
}

.rank
{
    background: rgba(0, 0, 0, 0.13);
    margin: 5px;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: white;
}

.username, .balance, .index
{
    font-size: 20px;
    text-align: center;
    width: 10%;
}

.username, .balance
{
    width: 40%;
}