html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background: #1e1e1e;
}

body {
    background-image: url('images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*===Lvl 1===*/
#login-view {

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: transparent;
    backdrop-filter: blur(50px) brightness(0.4) contrast(0.9);

    width: 600px;
    min-width: 600px;
    max-width: 600px;
}

/*===Lvl 2===*/
#title {
    width: 400px;
    height: auto;
    margin-bottom: 50px;
}

#log-form
{
    max-width: 360px;
    width: 100%;
}

#sign-in
{
    margin-top: 25px;
}

#sign-in-link
{
    text-decoration: underline;
    font-size: 15px;
    color: #ffee00;
}

@keyframes pulseGlow {
    0%, 100% {
        text-shadow: 0 0 1px #ffee00, 0 0 10px rgba(255, 238, 0, 0.91), 0 0 20px rgba(255, 238, 0, 0.88);
    }
    50% {
        text-shadow: 0 0 1px #ffee00, 0 0 20px rgba(255, 238, 0, 0.84), 0 0 40px rgba(255, 238, 0, 0.65);
    }
}

#sign-in-link:hover
{
    color: #ffee00;
    animation: pulseGlow 1s infinite;
}
/*===Lvl 3===*/
.log-field, .sign-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    border: none;
    padding: 0;
}

#login-btn-field
{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}

#forgotten-password-link
{
    text-decoration: underline;
    font-size: 12px;
    color: rgba(255,255,255,0.5);
}

/*===Lvl 4===*/
.log-label, .sign-label
{
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 12px;
    color: rgba(255,255,255,0.6);
    margin-bottom: 5px;
}

.log-input, .sign-input
{
    width: 100%;
    height:  46px;
    box-sizing: border-box;
    border: solid 2px rgba(255,255,255,0.2);
    border-radius: 8px;
    background: none;
    color: white;
    outline: none;
}

#log-in-btn, #sign-in-btn
{
    margin-top: 15px;
    width: 120px;
    height: 30px;
    border-radius: 15px;
    border: none;
    font-weight: 900;
    background: linear-gradient(45deg, #63ffac, #ffee00);
    color: white;
}

#log-in-btn:hover, #sign-in-btn:hover
{
    width: 125px;
}

/*!*Center div*!*/
/*#login, #signin, main, body, aside*/
/*{*/
/*    display: flex;*/
/*    justify-content: center; !* Center horizontally *!*/
/*    align-items: center; !* Center vertically *!*/
/*}*/

